# Raw large datasets
data/glodap/GLODAPv2.2023_Atlantic_Ocean.csv
data/socat/SOCATv2023_qrtrdeg_gridded_coast_monthly.csv
data/cmems/*.nc

# Temporary files
data/misc/tempCodeRunnerFile.py
__pycache__/
*.pyc
